<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/create" method="POST">{% csrf_token %}
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="addr" placeholder="Address"><br><br>
		<button type="submit">Create</button>
    </form><br>
    <form action="/display" method="POST">{% csrf_token %}
    	<button type="submit">Display</button>
    </form><br>
	    <form action="/search" method="POST">{% csrf_token %}
	     <button type="submit">Search</button>
	    </form>



</body>
</html